.product__inner {
    &_list {
        background-image: url(../../images/images/our\ collection.png);
        background-size: 1111px 196px;
        max-width: 1111px;
        max-height: 196px;
    }
}